@import "react-alice-carousel/lib/scss/alice-carousel.scss";
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 16px;
}

a {
  color: inherit;
  text-decoration: none;
}

.nav-link:hover {
    color: #0070f3;
}

* {
  box-sizing: border-box;
}

.new-container {
    max-width: 1600px;
    margin: auto;
}

.nav-link--cursor {
  cursor: pointer;
}

.lazy-load-image-loaded {
  z-index: 1;
}

/* Globals assets styles */

@import './globals/header.scss';
@import './globals/footer.scss';


/* Pages Assets style */

@import './pages/home.scss';